<!DOCTYPE html>
<html lang="en" ng-app="livroModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sistema Biblioteca</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	  <script src="js/angular.min.js"></script>
	  <script src="js/angular-resource.js"></script>
   
    <script src="controll/livroControl.js"></script>
  </head>
<body ng-controller="livroControl">
  

    
    
  <div ng-include="'menu.html'"></div>

  <div class="panel panel-default">
  <div class="panel-heading">Cadastro de Livros</div>
  <div class="panel-body">
    <div>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cadastro</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Dados</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active espaco_entre_botoes" id="home" >

<form name="livroForm" class="form-horizontal" ng-submit="livroForm.$valid && salvar()" novalidate>

<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
<div ng-show="livroForm.$submitted">
	<div ng-show="livroForm.nome.$error.required">Preencha o nome</div>
	<div ng-show="livroForm.paginas.$error.required">Preencha a quantidade de paginas</div>
	<div ng-show="livroForm.paginas.$error.min">Quantidade de paginas deve ser superior a 4</div>
	<div ng-show="livroForm.nome.$error.minlength">O nome deve ter pelo menos 6 caracteres</div>

</div>
<br>
   <button type="button"  ng-click="novo();" class="btn btn-primary">Novo</button>
  <button type="submit"  class="btn btn-success">Cadastrar</button>
  <button type="button"  ng-click="pesquisar();" class="btn btn-warning">Pesquisar</button>
  <button type="button"  ng-click="excluir();" class="btn btn-danger">Excluir</button>
 <hr/> 


  <div class="form-group espaco_entre_botoes" >
    <label for="exampleInputcodigo" class="col-sm-1 control-label">Código</label>
    <div class="col-sm-5">
    <input type="text" class="form-control" ng-model="livro.codigo" disabled="true" placeholder="Codigo">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputnome" class="col-sm-1 control-label">Nome</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="livro.nome"placeholder="Nome" name="nome" required="" 
ng-minlength="6"/>
    
  </div>
</div>

  <div class="form-group">
    <label for="exampleInputcidade" class="col-sm-1 control-label">Quantidade Paginas</label>
    <div class="col-sm-5">
    <input type="text" class="form-control"  ng-model="livro.paginas"placeholder="Quantidade paginas" name="paginas" required="" 
min="5"/>
    
  </div>
</div>

  
  <div class="form-group">
    <label for="exampleInput" class="col-sm-1 control-label">Categoria</label>
    <div class="col-sm-5">
      <select class="form-control"
      ng-model="livro.categorias"
      ng-options="categoria.nome for categoria in categorias track by categoria.codigo">


      </select>
  </div>
</div>
<div class="form-group">
    <label for="exampleInput" class="col-sm-1 control-label">Editora</label>
    <div class="col-sm-5">
      <select class="form-control"
      ng-model="livro.editoras"
      ng-options="editora.nome for editora in editoras track by editora.codigo">
      </select>
  </div>
</div>



</form>

    </div>

    <!-- Segunda aba "dados" -->
    <div role="tabpanel" class="tab-pane" id="profile">


<table class="table table-striped">
  <!-- th vai ser o nome dos campos da minha tabela -->
 <th> Código </th>
 <th> Nome </th>
 <th> Quantidade Páginas </th>
 <th> Categoria </th>
 <th>Editora </th>
 
<!-- nas tags tr eu vou colocar quais campos vao ser inseridos na minha tabela para isso vai ser usado o angularjs -->
  <tr ng-repeat="livroTabela in livros" ng-click="selecionaLivro(livroTabela);">
    <td>{{livroTabela.codigo}}</td>
    <td>{{livroTabela.nome}}</td>
    <td>{{livroTabela.paginas}}</td>
    <td>{{livroTabela.categorias.nome}}</td>
    <td>{{livroTabela.editoras.nome}}</td>
  
  </tr>
</table>




    </div>
    
  </div>

</div>


  </div>
</div>
</div>


</body>
</html>